<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,GRAD@8..144,100..1000,-200&display=swap" rel="stylesheet">
    <title>ChatLoom</title>
</head>
<body >
    <nav class="d-flex">
            <img src="../img/9.png" alt="">
            <h1 id="username-owner">Hi, Username</h1>
            <ul>
                <li><a href="login.html" id="logout"><img src="../img/cerrar-sesion.png" alt=""></a></li> <!-- Enlace para salir de la cuenta -->
            </ul>
    </nav>
 
    <div id="main" class="d-flex justify-content-center ">
        <form class="cuadrado2 ">
            <div class="chats">
                <input type="text" placeholder="Buscar ...">
                <button class="boton-find">
                    <img src="../img/lupa.png" alt="">
                </button>
            </div>
            <div class="people ">
                <div class="pfp">
                    <img src="../img/pfp.jpg" alt="">
                </div>
                <p>Name</p>
            </div>
            <div class="people">
                <div class="pfp">
                    <img src="../img/pfp.jpg" alt="">
                </div>
                <p>Name</p>
            </div>
            <div class="people">
                <div class="pfp">
                    <img src="../img/pfp.jpg" alt="">
                </div>
                <p>Name</p>
            </div>
            <div class="people">
                <div class="pfp">
                    <img src="../img/pfp.jpg" alt="">
                </div>
                <p>Name</p>
            </div>
            <div class="people">
                <div class="pfp">
                    <img src="../img/pfp.jpg" alt="">
                </div>
                <p>Name</p>
            </div>
        </form>

        <form class="cuadrado content" id="chat-socket">
            <div class="people-information blur-container">
                <div>
                    <img src="../img/pfp.jpg" alt="">
                </div>
                <h2 id="username-friend">Username</h2>
                
                <div id="settings" class="menu">
                    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                    <label class="menu-open-button" for="menu-open">
                     <span class="lines line-1"></span>
                     <span class="lines line-2"></span>
                     <span class="lines line-3"></span>
                   </label>
                 
                    <a href="#" class="menu-item blue"> <i class="img-send"><img src="../img/image-gallery.png" alt=""></i> </a>
                    <a href="#" class="menu-item green"> <i class="location-send"><img src="../img/location.png" alt=""></i> </a>
                    <a href="#" class="menu-item red"> <i class="file-send"><img src="../img/file.png" alt=""></i> </a>
                    <a href="#" class="menu-item purple"> <i class="fa fa-microphone"></i> </a>
                    <a href="#" class="menu-item orange"> <i class="fa fa-star"></i> </a>
                    <a href="#" class="menu-item lightblue"> <i class="fa fa-diamond"></i> </a>
                </div>


            </div>
            <div class="chat-window " id="chat-window">
      
            </div>
            <form class="d-flex justify-content-sb mb" id="messege-form">
                <input type="text" class="question-input" name="message" placeholder="Text....." autocomplete="off" autofocus>
                <button class="btnSummit"><img src="../img/enviar.png" alt=""></button>
            </form>
        </form>
    </div>

    <script id="message-template" type="text/html">
        <div class="messege-owner justify-content-right">
            <p>
                <span class="messege">{{createdAt}}</span>
            </p>
            <p>{{message}}</p>
        </div>
    </script>

        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/chat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

 
     
</body>
</html>