/*general css*/
.m10px {
    margin: 10px;
}

.d-flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}

.justify-content-sb {
    justify-content: space-between;
}

.justify-content-left{
    justify-content: left;
}

.flex-wrap {
    flex-wrap: wrap;
 
}

.justify-content-right{
    justify-content: right;
}

.justify-content-sa{
    justify-content: space-around;
}


.mb10{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

body{
    background-color: #191919;
}


h1{
    color: white;
    font-family: "Roboto Flex";
    margin-top: 35px;
}

nav{
    justify-content: space-around;
}

.cuadrado{
    margin-top: 70px;
    width: 50%; /* Ancho del cuadrado */
    height: 700px; /* Alto del cuadrado */
    background-color: #B62CDD; /* Color de fondo del cuadrado */
    border-radius: 20px; /* Bordes redondeados */
}

.cuadrado2{
    margin-top: 70px;
    margin-right: 50px;
    width: 20%; /* Ancho del cuadrado */
    height: 700px; /* Alto del cuadrado */
    background-color: #B62CDD; /* Color de fondo del cuadrado */
    border-radius: 20px; /* Bordes redondeados */
}

.chats{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
    margin-left: 30px;
	border: none;
	outline: none;
	border-radius: 5px;

}

.boton-find {
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    background-color: #610da5; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Bordes redondeados para hacer el botón circular */
    display: flex; /* Centra el contenido del botón */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-right: 20px; /* Espacio entre el input y el botón */
}

.people{
    display: flex;
    width: 300px; /* Ancho del rectángulo */
    height: 80px; /* Altura del rectángulo */
    background-color: #610da5; /* Color de fondo del rectángulo */
    margin: 30px; /* Margen alrededor del rectángulo */
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    color: white; /* Color del texto */
}

.people:hover{
    background-color: #1a042c7e; 
}

.people img{
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
    border-radius: 50%; /* Bordes redondeados para hacer el contenedor circular */
    overflow: hidden; /* Ocultar cualquier parte de la imagen que se salga del contenedor */
    display: flex; /* Centrar la imagen dentro del contenedor */
    justify-content: left; /* Centrar horizontalmente la imagen */
    margin: 10px; /* Margen alrededor del contenedor */
    margin-left: 10px;
}

.boton-find:hover {
    background-color: #1a042c7e; /* Color de fondo al pasar el ratón por encima */
}

.boton-find img {
    width: 24px; /* Ancho de la imagen */
    height: 24px; /* Altura de la imagen */
}

p{
    margin-top: 30px;
    font-family: "Raleway", sans-serif;

}

.question-input{
    pointer-events:all;
    outline:0;
    margin:8px 0;
    display:block;
    width:85%;
    padding:8px 16px;
    border-radius:16px;
    background-color:rgba(255,255,255,.2);
    border:0;
    margin-top: 67%;
    margin-left: 60px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.menu-files{
    width: 40px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    background-color: #610da5; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Bordes redondeados para hacer el botón circular */
    display: flex; /* Centra el contenido del botón */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-right: 10px; /* Espacio entre el input y el botón */
    margin-top: 20px;
    margin-left: 10px;
}

.bottom-chat{
    align-items: center;
}

img{
    justify-content: left;
}

li{
    color: #191919;
}

.btnSummit{
    width: 40px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    background-color: #610da5; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Bordes redondeados para hacer el botón circular */
    display: flex; /* Centra el contenido del botón */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-right: 20px; /* Espacio entre el input y el botón */
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.btnSummit:hover{
    background-color: #1a042c7e; /* Color de fondo del botón */
}

.btnSummit img{
    margin-right: 5px;
}

#logout{
    width: 60px; /* Ancho del botón */
    height: 60px; /* Altura del botón */
    background-color: #B62CDD; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50%; /* Bordes redondeados para hacer el botón circular */
    display: flex; /* Centra el contenido del botón */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-right: 20px; /* Espacio entre el input y el botón */
}

#logout :hover{
    background-color: #7d209736; /* Color de fondo al pasar el ratón por encima */
}

.people-information{
    display: flex;
    width: 94%; /* Ancho del rectángulo */
    height: 75px; /* Altura del rectángulo */
    background-color:rgba(255,255,255,.2);
    margin: 30px; /* Margen alrededor del rectángulo */
    border-radius: 30px; /* Bordes redondeados */
    color: white; /* Color del texto */
    font-family: "Raleway", sans-serif;
}

.people-information img{
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
    border-radius: 50%; /* Bordes redondeados para hacer el contenedor circular */
    overflow: hidden; /* Ocultar cualquier parte de la imagen que se salga del contenedor */
    display: flex; /* Centrar la imagen dentro del contenedor */
    justify-content: left; /* Centrar horizontalmente la imagen */
    margin: 10px; /* Margen alrededor del contenedor */
    margin-left: 10px;
    margin-right: 30px;
}

.chat-window{
    width: 90%;   /* Ancho del cuadrado */
    height: 70%;  /* Alto del cuadrado */
    box-sizing: border-box;   /* Incluye el borde dentro del tamaño especificado */
    margin-left: 50px;
    scrollbar-width: 10px;
}


.chat-window .messege{
    display: flex;
    width: 300px; /* Ancho del rectángulo */
    height: 80px; /* Altura del rectángulo */
    background-color: rgba(255,255,255,.1); /* Color de fondo del rectángulo */
    margin: 30px; /* Margen alrededor del rectángulo */
    border-radius: 15px; /* Bordes redondeados */
    color: white; /* Color del texto */
    margin-top: 0.5px;
}

.img-client{
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
    border-radius: 50%; /* Bordes redondeados para hacer el contenedor circular */
    overflow: hidden; /* Ocultar cualquier parte de la imagen que se salga del contenedor */
    display: flex; /* Centrar la imagen dentro del contenedor */
    justify-content: left; /* Centrar horizontalmente la imagen */
    margin: 10px; /* Margen alrededor del contenedor */
    margin-left: 10px;
    margin-right: 30px;
}


.img-owner{
    width: 50px; /* Ancho de la imagen */
    height: 50px; /* Altura de la imagen */
    border-radius: 50%; /* Bordes redondeados para hacer el contenedor circular */
    overflow: hidden; /* Ocultar cualquier parte de la imagen que se salga del contenedor */
    display: flex; /* Centrar la imagen dentro del contenedor */
    justify-content: left; /* Centrar horizontalmente la imagen */
    margin: 10px; /* Margen alrededor del contenedor */
    margin-left: 10px;
    margin-right: 30px;
}

.messege-owner{
    margin-left: 500px;
}

.messege-owner img{

    margin-left: 300px;
}

.messege p{
    margin-left: 20px;
}

.moreOption{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 7%; /* Ajusta el ancho según sea necesario */
    height: 60px;
    background-color: rgba(255, 255, 255, .2);
    margin: 30px;
    margin-right: 100px;
    border-radius: 50%;
    color: white;
    font-family: "Raleway", sans-serif;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    margin-left: 615px;
    margin-top: 6px;
    cursor: pointer;
}

.moreOption:hover{
    background-color:rgba(90, 41, 109, 0.2);
}

.moreOption img{
    width: 40px; /* Ancho de la imagen */
    height: 40px; /* Altura de la imagen */
    border-radius: 90%; /* Bordes redondeados para hacer el contenedor circular */
    overflow: hidden; /* Ocultar cualquier parte de la imagen que se salga del contenedor */
    display: flex; /* Centrar la imagen dentro del contenedor */
    justify-content: left; /* Centrar horizontalmente la imagen */
    margin: 10px; /* Margen alrededor del contenedor */
    margin-left: 10px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}





#settings {
    margin-top: 210px;
    margin-right: 290px;
    color: #EEEEEE;
    text-align: center;
    font-family: "Lato", sans-serif;
 }
 



@media screen and (max-width: 700px) {
    body {
       padding: 100px 0 0 0;
       width: 100%
    }
 }
 
 a {
    color: inherit;
 }
 
 .menu-item,
 .menu-open-button {
    background: #EEEEEE;
    border-radius: 100%;
    width: 58px;
    height: 58px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
 }
 
 .menu-open {
    display: none;
 }
 
 .lines {
    width: 25px;
    height: 3px;
    background: #596778;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
 }
 
 .line-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
 }
 
 .line-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 
 .line-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
 }
 
 .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
 }
 
 .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
 }
 
 .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
 }
 
 .menu {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
 }
 
 
 /* .menu-item {
    transition: all 0.1s ease 0s;
 } */
 
 .menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
 }
 
 .menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(7) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(8) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-item:nth-child(9) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
 }
 
 .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
 }
 
 .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
 }
 
 .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
 }
 
 .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(90.9466px, 52.47586px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 104.99997px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 580ms;
    -webkit-transition-duration: 580ms;
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-90.86291px, 52.62064px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 680ms;
    -webkit-transition-duration: 680ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-91.03006px, -52.33095px, 0);
 }
 
 .menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
 }
 
 .blue {
    background-color: #669AE1;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .blue:hover {
    color: #669AE1;
    text-shadow: none;
 }
 
 .green {
    background-color: #70CC72;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .green:hover {
    color: #70CC72;
    text-shadow: none;
 }
 
 .red {
    background-color: #FE4365;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .red:hover {
    color: #FE4365;
    text-shadow: none;
 }
 
 .purple {
    background-color: #C49CDE;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .purple:hover {
    color: #C49CDE;
    text-shadow: none;
 }
 
 .orange {
    background-color: #FC913A;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .orange:hover {
    color: #FC913A;
    text-shadow: none;
 }
 
 .lightblue {
    background-color: #62C2E4;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
 }
 
 .lightblue:hover {
    color: #62C2E4;
    text-shadow: none;
 }
 
 .credit {
    margin: 24px 20px 120px 0;
    text-align: right;
    color: #EEEEEE;
 }
 
 .credit a {
    padding: 8px 0;
    color: #C49CDE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
 }
 
 .credit a:hover {
    text-decoration: underline;
 }